<footer class="footer_main">
    <div class="dfooter" ng-controller="footCtrl">
        <div class="icon foo cor">
            <span>MEDUZ_A</span>
        </div>
        <div class="contact foo">
            <span class="f_span">Контакты</span></br>
            </br>
            253654, г. Санкт-Петербург,</br>
            ул. Ленина, д. 18</br>
            </br>
            +7-911-784-5661</br>
            marsel92@mail.ru
        </div>
        <div class="news foo">
            <span class="f_span">Подписка на новости</span></br>
            </br>
            <input type="text" class="edit_sm" ng-model="podpis_mail"/>
            <button class="btn-sm" ng-click="sendMail()">Подписаться</button>
            <p>Мне есть чем с Вами поделиться.</p>
        </div>
    </div>
</footer>
